{% load static %}

<!DOCTYPE html>
<html>
<head>

        <title>Light Curves Classifier</title>
    
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/styles2.css' %}" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/popup.css' %}" type="text/css" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    
    <script type="text/javascript" src="{% static 'js/bootstrap-filestyle.min.js' %}"> </script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}" charset="utf-8"></script>    
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" charset="utf-8"></script>
    
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
    <script src="{% static 'js/form_select_stars_copy.js' %}"></script>
    
    {% include "interface/header_scr.html" %}
    

    
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/slider.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/superfish.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/show_filt_by_id.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
    
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />


</head>

<body>
<div id="container" class="width">

    <header> 
	<div class="width">

		<nav>
	
    			<ul class="sf-menu dropdown">


        			<li class="selected">
                        <a href="#/">Home</a>

                        <ul>
                            <li><a class="selected" href="{% url 'home' %}">Introduction</a></li>
                            <li><a href="{% url 'guide' %}">Guide</a></li>
                        </ul>
        			
        			
        			<li>
                        <a href="#/">Show</a>
                            
                        <ul>                        
                            <li><a class="active" href="{% url 'show' %}">Show stars</a></li>
                            <li><a href="{% url 'unsup' %}">Unsupervised clustering</a></li>
                        </ul>
                    </li>

            		<li><a href="{% url 'make_filter' %}">Make filter</a></li>
                        <li><a href="{% url 'search' %}">Systematic filtering</a></li>  

				<li>

					<a href="#/">See jobs</a>
            				
					<ul>
                		<li><a href="{% url 'all_filters' %}">Filters</a></li>
                        <li><a href="{% url 'all_results' %}">Queries</a></li>
                	</ul>

                </li>


                <li>

					<a href="#/">User</a>

					<ul>
                		<li><a href="{% url 'login_view' %}">Sign in</a></li>
                        <li><a href="{% url 'logout_view' %}">Logout</a></li>
                        <li><a href="{% url 'create_user' %}">Sign up</a></li>
                        <li><a href="{% url 'manage_modules' %}">Manage private modules</a></li>
                	</ul>

                </li>

            
				<li><a href="{% url 'contact' %}">Contact</a></li>
       			</ul>

			
			<div class="clear"></div>
    		</nav>
       	</div>

	<div class="clear"></div>

       
    </header>


    <div id="intro">

	<div class="width">
      
		<div class="intro-content">
	
                    <h2>Light Curves Classifier</h2>
                    <p>Web Interface</p>
                                  	
			
            	</div>
                
            </div>
            

	</div>

    <div id="body" class="width">



		<section id="content" class="one-column">

	    <article>				
			
			<h2>{{ page_title }}</h2>
			
			{% if page_info %}
    			<a href="#/" id="hint_but1" onclick='document.getElementById("page_help").style.display = "inline"' class="button">See hint</a>
                <a href="#/" id="hint_but2" onclick='document.getElementById("page_help").style.display = "none"' class="button button-reversed">Hide hint</a>
                
                <p align="left" id="page_help" align="middle" style="display: none";><br>{{ page_info|safe }}</p>
            {% endif %}
            <br><br>
			
			{% block input_form %}
            {% endblock %}
			
		
		</article>
        </section>
        

    	<div class="clear"></div>
    </div>
    
      
            

</body>
</html>
