{% extends 'interface/base_template.html' %}
{% load static %}

{% block input_form %}



<script type="text/javascript" src="{% static 'js/popup.js' %}"> </script>

{% if lcs %}
<div align="middle" id="plotLC" style="width:100%;height:100%"></div>
<script>
{% include "visual/plotLC.js" %}
</script>
{% endif %}

<form id="form1" align="middle" action='#' onclick="" method='post' enctype="multipart/form-data">{% csrf_token %}
    <div style="margin: auto;">
    <input style="margin: auto;" type='file' class="filestyle" data-classIcon="icon-plus" data-input="false" data-classButton="btn btn-primary" multiple name='my_file' data-buttonText='Load stars' />
    <input align="middle" style="background-color:#a3a1a1;font-weight: 900;height:40px;color:#000000;" type='submit' class="filestyle" data-classIcon="icon-plus" data-classButton="btn btn-primary" name='sub' value='Show' />
    </div>
</form>   

{% endblock %}